.nomargin{
    margin: 0;
}

h2.large_title{
    font-size: 2em;
}

img.responsitive {
    width: 100%
}

.pointer{
    cursor: pointer;
}

/* Ant Design List 组件 gutter 不生效，用这个让 List子元素之间有个左右的边框 */
.ant-spin-container>div{
    padding-left: 8px;
    padding-right: 8px;
}